# Diretórios e arquivos gerados pelo Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Configurações de ambiente de desenvolvimento
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Diretórios de saída da build
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Vercel
.vercel

# Editor/IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ferramentas de controle de versão
.eslintcache
